BASE_URL=https://renderforge.endlessmaker.com
API_URL=https://renderforge.endlessmaker.com
TEST_USER_EMAIL=admin@renderforge.com
TEST_USER_PASSWORD=admin123
S3_ENDPOINT=https://storage.endlessmaker.com
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET=forgebase
